.button {
	@apply bg-gradient-to-t from-fuchsia-600 to-fuchsia-500 py-4 px-6 rounded-lg text-fuchsia-950 text-6xl hover:from-fuchsia-700 hover:to-fuchsia-600 flex justify-center items-center gap-2 relative max-sm:text-4xl;
	box-shadow: 3px 2px 1px 2px rgb(74, 4, 78);
	&:hover {
		box-shadow: inset -3px -3px 7px 2px rgb(74, 4, 78);
	}
}
.soon {
	&::after {
		@apply content-['Soon'] absolute top-0 bottom-0 right-0 left-0 text-5xl flex items-center justify-center text-neutral-950;
		border-radius: inherit;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(3.9px);
		-webkit-backdrop-filter: blur(3.9px);
		border: 1px solid rgba(255, 255, 255, 0.12);
	}
}
