@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import 'tailwindcss';

@utility bg-gradient {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.08),
		rgba(255, 255, 255, 0.03)
	);
}
@theme {
	--color-default: #1f1d2b;
	--color-primary: #a9a7b5;
	--color-btn-blue: #7c5cff;
	--font-rubik: Rubik Wet Paint;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}
html {
	@apply p-0 m-0 box-border;
}

body {
	@apply h-dvh bg-default font-normal overflow-hidden;
	color: white;
}

.X {
	@apply text-sky-300;
}
.X-off {
	@apply text-sky-800;
	text-shadow: none;
}
.O {
	@apply text-rose-600;
}
.O-off {
	@apply text-rose-900;
	text-shadow: none;
}

input {
	outline: none;
}

button {
	cursor: pointer;
}
img {
	width: 100%;
}
